body {
    background-color: sandybrown;
    color: white;
}

.tombol {
    background-color: violet;
    padding: 3px 10px;
    opacity: 1;
    transition: all .5s;
}

.tombol:hover {
    box-shadow: 0 3px 4px black;
}